name: Package and release

on:
  push:
    tags:
      - '**'

jobs:
  release:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Create release
        uses: "marzer/changelog-from-release@v1"
        with:
          args: --changelog CHANGELOG.md
        
      - name: Package and release
        uses: BigWigsMods/packager@v2
        with:
          args: -p ${{ secrets.CF_API_KEY }}
        env:
          CF_API_KEY: ${{ secrets.CF_API_KEY }}
